<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit_book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h3> Book Name: {{ book.title }}</h3>
    <h3> Id: {{ book.id }}</h3>
    <h3>Description {{ book.desc }}</h3>

    <h2>Authors:</h2>
    <ul>
        {% for author in authors_are %}
        <li>{{author.first_name}}{{ author.last_name }}</li> 
        {% endfor %}
    </ul>
    <form action="/book-to-author/{{book.id}}" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{book.id}}" name="book_id">
    <select name="author_id">
        {% for author in authors %}
        <option value="{{author.id}}">{{author.first_name}}{{author.last_name}}</option>
        {% endfor %}
    </select>
    <button>Submit</button>
    </form>
</body>
</html>